header {
	background-color: #fff;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 70px;
	width: 25%;
	padding: 0;
	margin-left: 20px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
}
